.step_indicator {
  position: relative;

  @media screen and (max-width: 500px) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .step {
    margin-bottom: 1.5rem;
    height: 7rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;

    @media screen and (max-width: 500px) {
      height: unset;
    }

    &:not(:last-child)::before {
      position: absolute;
      content: "";
      left: 0.7rem;
      top: 29%;
      background: #e5e5e5;
      width: 0.1rem;
      height: 80%;
      border-radius: 1rem;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    p {
      padding-top: 0.2rem;
    }

    &.active {
      color: #00a886;

      &::before {
        background: #00a886;
      }
    }
  }
}

.step_one {
  position: relative;
  width: 100%;
  max-height: 69vh;
  overflow: auto;
  padding: 1rem;

  .input {
    margin-bottom: 1rem;

    @media screen and (max-width: 500px) {
      margin: none;
    }
  }
}
