.step_indicator {
  position: relative;

  .step {
    margin-bottom: 1rem;
    height: 7rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;

    &:not(:last-child)::before {
      position: absolute;
      content: "";
      left: 0.7rem;
      top: 29%;
      background: #e5e5e5;
      width: 0.1rem;
      height: 80%;
      border-radius: 1rem;
    }

    p {
      padding-top: 0.2rem;
    }

    &.active {
      color: #00a886;

      &::before {
        background: #00a886;
      }
    }
  }
}

.step_one {
  position: relative;

  .input {
    margin-bottom: 1rem;
  }
}
