.orders {
  height: 86vh;
  position: relative;
  overflow: auto;

  @media screen and (max-width: 500px) {
    overflow: unset;
  }

  .orders_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem 0;

    @media screen and (max-width: 500px) {
      // flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media screen and (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .length {
        font-size: 1.2rem;
        width: 8rem;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 1rem;
        border-left: 0.15rem solid #959595;

        @media screen and (max-width: 500px) {
          padding-left: 0;
          border-left: none;
        }

        input {
          display: block;
          width: 25rem;
          border: 1px solid transparent;
          font-size: 1.2rem;
          padding: 0.5rem;
          border-radius: 0.3rem;

          @media screen and (max-width: 500px) {
            width: 100%;
          }

          &:focus {
            border-color: #00bb95;
          }
        }
      }
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 2rem;

      .filter_wrapper {
        position: relative;
      }

      .filter {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
          background: #e9e9e9;
        }
      }

      .add_btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 0.15rem solid #959595;
        color: #959595;
        border-radius: 0.4rem;
        cursor: pointer;
        flex-shrink: 0;

        @media screen and (max-width: 500px) {
          span {
            display: none;
          }
        }
      }
    }
  }

  &_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
