.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 1rem;
  font-weight: 450;
  background: #00bb95;
  color: #ffffff;
  cursor: pointer;

  span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #ffffff;
    animation: load 1s linear forwards infinite;

    @keyframes load {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.button.label_green {
  color: #00bb95;
}

.button.button.label_white {
  color: #ffffff;
}

.button.button.label_red {
  color: #d80000;
}

.button.light {
  background: #f5f5f5;
}

.button.primary {
  border-radius: 5rem;
}

.button.minor {
  border-radius: 5rem;
  background: transparent;
  border: 0.1rem solid #00bb95;
  color: #00bb95;
}

.button.minor.disabled {
  color: #959595;
  background: transparent;
  border-color: #959595;
}

.button.disabled {
  border-color: #959595;
  background: #959595;
}

.button.loading {
  background: #6c9c93;
}

.ulodine_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 2.5rem;
  padding: 0 1rem;
  font-weight: 550;
  background: #00bb95;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  a {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 2.7rem;
    width: 100%;
  }
}

.ulodine_link.minor {
  background: transparent;

  a {
    color: #00bb95;
  }
}

.ulodine_link.primary {
  border-radius: 5rem;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.ulodine_link.secondary {
  border-radius: 5rem;
  border: 0.1rem solid #959595;
  background: transparent;

  a {
    text-decoration: none !important;
    color: #959595 !important;
  }
}

.ulodine_link.grey {
  a {
    color: #959595;
  }
}

.ulodine_link.white {
  border-color: #ffffff;
  a {
    color: #ffffff;
  }
}

.ulodine_link.outline {
  background: transparent;
  border: 0.15rem solid transparent;
  border-radius: 2rem;
}

.ulodine_link.green {
  border-color: #00bb95;
  a {
    color: #00bb95;
  }
}
