.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 1rem;
  font-weight: 450;
  background: #00bb95;
  color: #ffffff;
  cursor: pointer;
  gap: 1rem;
  transition: all 0.2s ease;
  border: none;
  outline: none;
}
.button:not(.disabled):not(.loading):hover {
  filter: brightness(0.95);
}
.button span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.3rem solid transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #ffffff;
  animation: load 1s linear forwards infinite;
}
@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button.label_green {
  color: #00bb95;
}

.button.label_white {
  color: #ffffff;
}

.button.label_red {
  color: #d80000;
}

.button.light,
.button.grey {
  background: #f5f5f5;
  color: #6b6a6a;
}
.button.light:not(.disabled):not(.loading):hover,
.button.grey:not(.disabled):not(.loading):hover {
  background: #e5e5e5;
  filter: none;
}

.button.main {
  border-radius: 0.5rem;
}

.button.primary {
  border-radius: 5rem;
}
.button.primary:hover {
  background: #00bb95;
  filter: brightness(0.7);
}

.button.secondary {
  border-radius: 5rem;
  background: #f5f5f5;
  color: #6b6a6a;
}

.button.minor,
.button.outline {
  border-radius: 5rem;
  background: transparent;
  border: 0.1rem solid #00bb95;
  color: #00bb95;
}
.button.minor:not(.disabled):not(.loading):hover,
.button.outline:not(.disabled):not(.loading):hover {
  background: rgba(0, 187, 149, 0.05);
  filter: none;
}

.button.minor.disabled,
.button.outline.disabled {
  color: #959595;
  background: transparent;
  border-color: #959595;
}

.button.disabled {
  border-color: #959595;
  background: #959595;
}

.button.loading {
  background: #6c9c93;
}

.ulodine_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 2.5rem;
  padding: 0 1rem;
  font-weight: 550;
  background: #00bb95;
  cursor: pointer;
}
.ulodine_link:hover {
  filter: brightness(0.9);
}
.ulodine_link a {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 2.7rem;
  width: 100%;
}

.ulodine_link.minor {
  background: transparent;
}
.ulodine_link.minor a {
  color: #00bb95;
}

.ulodine_link.primary {
  border-radius: 5rem;
}
.ulodine_link.primary a {
  text-decoration: none;
  color: #ffffff;
}

.ulodine_link.secondary {
  border-radius: 5rem;
  border: 0.1rem solid #959595;
  background: transparent;
}
.ulodine_link.secondary a {
  text-decoration: none !important;
  color: #959595 !important;
}

.ulodine_link.grey a {
  color: #959595;
}

.ulodine_link.white {
  border-color: #ffffff;
}
.ulodine_link.white a {
  color: #ffffff;
}

.ulodine_link.outline {
  background: transparent;
  border: 0.15rem solid transparent;
  border-radius: 2rem;
}

.ulodine_link.green {
  border-color: #00bb95;
}
.ulodine_link.green a {
  color: #00bb95;
}/*# sourceMappingURL=Button.module.css.map */