.overview {
  height: 86vh;
  position: relative;
  overflow: auto;

  .action_buttons {
    display: flex;
    gap: 1rem;

    button {
      padding: 0.5rem;
      border-radius: 0.3rem;
      border: 0.15rem solid #959595;
      color: #959595;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      flex-shrink: 0;
    }
  }

  .scrollable {
    padding: 1rem 0;

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  &_feedbacks {
    background: #ffffff;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;

    &_title {
      margin-bottom: 1rem;
    }
  }
}
