.input_wrapper label {
  display: block;
  padding: 0.3rem 0;
  font-weight: 550;
}
.input_wrapper .input {
  border: 0.1rem solid #dfdfdf;
  background: #f5f5f5;
  border-radius: 0.5rem;
  height: 3rem;
  display: block;
  padding: 0 0.5rem;
  min-width: 20rem;
  width: 100%;
}
.input_wrapper .input:focus {
  border-color: #00bb95;
}
.input_wrapper .error {
  border-color: #d80000;
}
.input_wrapper .error:focus {
  border-color: #d80000;
}
.input_wrapper .alert_error {
  color: #d80000;
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.input_wrapper .phone {
  border: 0.1rem solid #dfdfdf;
  background: #f5f5f5;
  border-radius: 0.5rem;
  height: 3rem;
  min-width: 20rem;
  width: 100%;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.input_wrapper .phone .input {
  border: unset;
  background: unset;
  padding: 0;
  display: block;
  width: 100%;
}
.input_wrapper .phone:focus {
  border-color: #00bb95;
}
.input_wrapper .phone span {
  display: block;
  color: #7f7f7f;
  padding: 0 0.2rem;
}
.input_wrapper .phone .flag {
  display: block;
  flex-shrink: 0;
  width: 1.5rem;
  margin-left: 0.5rem;
}

.select {
  position: relative;
}
.select label {
  display: block;
  padding: 0.3rem 0;
  font-weight: 550;
}
.select .input {
  border: 0.1rem solid #dfdfdf;
  background: #f5f5f5;
  border-radius: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  min-width: 20rem;
  width: 100%;
}
.select .input p {
  display: block;
}
.select .input p:empty::before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none;
}
.select .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  max-height: 25rem;
  overflow: auto;
  z-index: 10;
}
.select .dropdown span {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.select .dropdown span:hover {
  background: #f5f5f5;
}

.password_input {
  border: 0.1rem solid #dfdfdf;
  background: #f5f5f5;
  border-radius: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  min-width: 20rem;
  width: 100%;
}
.password_input:focus-within {
  border-color: #00bb95;
}
.password_input .error {
  border-color: #d80000;
}
.password_input .error:focus-within {
  border-color: #d80000;
}
.password_input .input {
  border: unset;
  background: unset;
}

.otp {
  margin: 2rem 0;
}
.otp_inputs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}
.otp_inputs input {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #dfdfdf;
  background: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  border: 2px solid transparent;
}
.otp_inputs input .error {
  border-color: #d80000;
}
.otp_inputs input:focus {
  border-color: #00bb95;
}
.otp_inputs input::-moz-placeholder {
  color: #c30000;
}
.otp_inputs input::placeholder {
  color: #c30000;
}
.otp_inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp_inputs input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.otp_bottom p span {
  color: #00bb95;
}
.otp_bottom button {
  background: none;
  text-decoration: underline;
  color: #00bb95;
  cursor: pointer;
}
.otp_bottom .disabled {
  color: #959595;
  cursor: not-allowed;
}
.otp_verifying {
  color: #00bb95;
}

.editor {
  border: 0.13rem solid #dfdfdf;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
}
.editor_header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.editor_header svg {
  cursor: pointer;
}
.editor_input {
  padding: 1rem;
  background: #f5f5f5;
  width: 100%;
  word-wrap: break-word;
  min-height: 15rem;
}
.editor_input:empty {
  content: attr(data-placeholder);
}

.ulodine_search {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 2rem;
  padding: 0.3rem;
  border: 0.15rem solid #dfdfdf;
  width: -moz-fit-content;
  width: fit-content;
}
.ulodine_search input {
  display: block;
  font-size: 1rem;
  min-width: 15rem;
  outline: none;
  padding: 0 1rem;
}
.ulodine_search input::-webkit-search-cancel-button {
  height: 1rem;
  width: 1rem;
  background: url("/cancel.svg") no-repeat center center;
  background-size: contain;
  cursor: pointer;
}
.ulodine_search button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00bb95;
  cursor: pointer;
}
.ulodine_search button:hover {
  background: #00a785;
}/*# sourceMappingURL=Input.module.css.map */